:root{
    --color: aqua;
    --strip-color: rgba(0, 0, 0, 0.616);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    background-color: black;
}
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
}
@font-face{
    font-family: "pixel_logo";
    src: url(Fonts/rainyhearts-webfont.woff2) format("woff2"), 
    url(Fonts/rainyhearts-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
.page-content{
    width: 100%;
    height: 100%;
    display: flex;
    gap:10px;
}
.left-side{
    background-image: url(Pictures/safar-safarov-koOdUvfGr4c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45vw;
    height: 100vh;
    flex-flow: row wrap;
}
.logo-picture{
   position: relative;
   height: auto;
   top: 30%;
   padding: 30px;
   background-color: var(--strip-color);
   display: flex;
   align-items: center;
   justify-content: center;

}
.codeforge{
    font: 4em "pixel_logo";
    color: var(--color);
    background-color: var(--strip-color);
}
.right-side{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
 
}

.info-about{
    padding: 10px;
    font-size: 2em;
    padding-bottom: 10px;
}
.sign-up{
    padding: 10px;
    color:var(--color);
    font-weight: bold;
    font-size: 1.25em;
}
form{
    margin-top:100px;
    display: flex;
    padding: 40px 0px 40px 40px;
    gap:60px;
    flex-flow: row wrap;
    width:100%;
    box-shadow: 4px 0px 4px 0px;
}
ul{
    list-style: none;
    padding: 0;

}
label{
    display: block;
    color: var(--color);
}
label:after{content: ": "}

form li + li{
    margin-top: 1em;
}

input{
    appearance: none;
    width: 100%;
    background-color: rgb(19, 19, 19);
    padding: 10px;
    border-color: grey;
    border-radius: 0.25em;
}

