:root{
    --color: aqua;
    --color-fail: rgb(245, 117, 117);
    --color-success:rgb(119, 202, 119);
    --strip-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
}
/*Fix browsers autofill*/ 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgb(24, 24, 24) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #ffffff;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/0 0 0 50px rgb(24, 24, 24) inset;
    -webkit-text-fill-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    background-color: black;

}
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  appearance: none;
}
@font-face{
    font-family: "pixel_logo";
    src: url(Fonts/rainyhearts-webfont.woff2) format("woff2"), 
    url(Fonts/rainyhearts-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
.page-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.left-side{
    background-image: url(Pictures/safar-safarov-koOdUvfGr4c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 45%;
    height: 100vh;
}
.logo-picture{
   position: relative;
   height: auto;
   top: 30%;
   padding: 30px;
   background-color: var(--strip-color);
   display: flex;
   align-items: center;
   justify-content: center;
}
.codeforge{
    font: 4em "pixel_logo";
    color: var(--color);
    background-color: transparent;
}
.right-side{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.info-about{
    padding-left: 40px;
    margin-top: 100px;
    font-size: 2.5em;
    padding-bottom: 10px;
}
.sign-up{
    padding-left: 40px;
    color:var(--color);
    font-weight: bold;
    font-size: 1.25em;
}
label{
    color: var(--color);
    background-color: transparent;
}
div {
    background-color: transparent;
}
input{
    appearance: none;
    width: auto;
    display: block;
    background-color: rgb(19, 19, 19);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 0.25em;
}
button{
    background-color: rgb(66, 66, 66);
    color: white;
    border:none; 
    border-radius:10px; 
    padding:12px;
    margin: 40px;
    min-height:auto; 
    min-width: auto;
    font-size: 1.25em;
    font-weight:300;
  }

button:hover{
   background-color:var(--color);
   color: black;
    transform: scale(1.05);
    transition: 0.5s;
}
.input-fields{
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 1px 2.5px var(--color);
    background-image:linear-gradient(45deg,
    rgb(5, 5, 5), #131212);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section{
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top:10px;
}
input:focus{
    outline: none;
}
.success{
    border-color: var(--color-success);
}
.fail{
    border-color: var(--color-fail);
}
.error-msg{
    color: var(--color-fail);
    font-size: 0.9em;
    padding-top: 5px;
    max-width: 250px;
    display: flex;
}
.password-msg{
    color: var(--color);
    height: 20px;
}
.footer-elements{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-top: auto;
    padding: 10px;
}
.footer{
    color: var(--color);
}
.footer-git:hover{
    transform: rotate(180deg) scale(1.1);
    filter: brightness(200%);
}
@media only screen and (max-width: 1000px){
    .page-content{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        height: auto;
    }
    .info-about{
        margin-top: 10px;
        padding-right: 40px;
    }
    .section{
        justify-content: center;
        width: auto;
    }
    .input-fields {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 500px){
    .section{
        gap: 10px;
    }
    .password-msg{
        height: 70px;
    }
    .info-about{
        font-size: 2em;
    }
    
}